
/* CSS Reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Activa el scroll global */
  
}


canvas{

  position: fixed;
  top: 0;
  margin: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0); 
  backdrop-filter: blur(5px);
  
  
 
  z-index: 1000;

  height: 50px;

  justify-content: center;
  

  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  
  padding-left: 7em;
  padding-right: 7em;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);

  
}

.logo:hover {
  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  

  
}

.menu li {
  display: inline-block;
  
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  
  transition: color 0.3s ease, background-color 0.3s ease;

  
  
}

.menu a:hover {
 
  
  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: italic;
}



button {
    
    
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode {
  background-color: #121212;
  color: #fff;
  
  
}

body.dark-mode nav a {
  color: #fff;
}



body.dark-mode button {
  
  color: #fff;
}

body.dark-mode nav div{

  color: #fff;
  
}


body.dark-mode h3{

  color: #fff;
  
}


body.dark-mode section div a{ 

  color: #fff;
  
}


body.dark-mode .info div { 

  border: 2px solid #ffffff;
  transition: transform 0.2s ease-in-out;
  
}


body.dark-mode .info div:hover{ 

  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
  
  
}



body.dark-mode .info div:hover h2{ 

  
  color: #0F0;
  
  
  
}


.info div:hover{

  background-color: #000000;
  color: #ffffff;
  transform: scale(1.05);
}

.info div{

  transition: transform 0.2s ease-in-out;
}





/* Botones */
.buttons {
  display: flex;
  gap: 10px;

}

.theme-button{

  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: normal;
  
  background: none; 
  
  border: none; 
  color: inherit; 
  cursor: pointer; 
  
  padding: 5px 15px;
  
  
  font-size: 1.5em;
  
}

.theme-button:hover{


  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: italic;
  
}




nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

button {
  
  
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}











.principal{

  display: flex;
  gap: 3em;
  width: 100%;
  height: 100%;
  
  min-height: 100vh;
  z-index: 21;

  position: relative;

  

}

.profesiones {
  
  display: flex;
  flex-direction: column;
 
 
  position: absolute;
  
  padding-left: 5em;
  padding-top: 11em;

  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -5px;

  cursor: pointer;

  color: #000000;
  

 
}


.profesiones h3 {
  
 
  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: px;

 
}





.link {
  text-decoration: none;
  color: #000000;
  font-size: 9vw;
  line-height: 100px;
  padding: 10px 15px;
  
  transition: background-color 0.3s, color 0.3s;
  display: inline; /* Limita el área activa al tamaño del texto */
  white-space: normal; /* Permite saltos de línea normales */

  display: inline !important;

  transition: 0.1s ease-in-out;

  

}






h3{

  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  line-height: 80px ;
  padding-left: 1em;
}












.info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 5em;
  justify-content: center;
  margin: 0;
  z-index: 1;

}


h2{
  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: normal;
  
  font-size: 2em;
  
  letter-spacing: -.5px;
  z-index: 1;

}


.info p {
  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 200;
  font-style: normal;
  
  font-size: 20px;
  
  z-index: 1;


}



.info div {
  flex: 1 1 calc(25% - 16px);
  max-width: calc(25% - 16px);
  background-color: none;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 16px;
  
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 1;

}

@media (max-width: 768px) {
  .info div {
      flex: 1 1 calc(50% - 16px);
      max-width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .info div {
      flex: 1 1 100%;
      max-width: 100%;
  }
}













.wrapper {
    overflow-x: hidden;
    position: relative;
    /*margin-left: 40em;*/
    font-family: "bricolage-grotesque-72-scond", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 10em;
    padding-left: 3.5em;
    
}
* {
    box-sizing: border-box;
}


.container {
    display: flex;
    width: 300vw;
    

    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: .8rem;
        }
    }

    section {
        width: 100vw;
        padding: 11vw 10vw;

        h1 {
            font-size: 3vw;
            margin: 0;
            
        }

        p {
            font-size: 2rem;
            width: 50vw;
            font-weight: 100;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

.sec1{

  
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 9vw;
}










.section1 {
  display: flex;
  
  height: 100vh; /* Simula una página más larga */
  position: relative;
  z-index: 10;
}

.left {
  width: 30%;
  
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  z-index: 10;

  opacity: 0; /* Comienza invisible */
  
  transition: opacity 0.1s ease, transform 0.1s ease; /* Transición suave */


  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4em;
}


.left.visible {
  opacity: 1; /* Visible */
  
}

.right {
  margin-left: 1em;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 5em;

  font-family: "bricolage-grotesque-72-scond", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.content {
  height: 100%; /* Simula contenido largo */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  gap: 20px; /* Espacio entre columnas */
}


.content img{
  box-sizing: border-box;
  width: 95%;
  height: auto;
  
}